<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kubernetes UI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<style>
		* {
			font-family: 'Lato', sans-serif;
			line-height: 2;
    		letter-spacing: 0.5px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container">
			<span class="navbar-brand mb-0 h1">
				<i class="fa fa-share"></i>
			</span>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Google gRPC Kubernetes Testing</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="mt-5"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Get Consignment</h4>
						<h6 class="card-subtitle mb-2 text-muted">Enter your Consignment id (from 1 to 5)</h6>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control form-control-sm" id="txtConsignmentId" placeholder="Consignment Id">
								</div>
							</div>
                            <button type="button" id="btnGetConsignment" class="btn btn-primary btn-sm">Get Container</button>
						</form>
						<div class="clearfix"></div>
						<pre id="consignmentResponse"></pre>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Get Vessel For Container</h4>
						<h6 class="card-subtitle mb-2 text-muted">Enter your Consignment Details you got from previous step</h6>
						<form>
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" id="txtConsignmentVesselId" placeholder="Consignment Id">
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" id="txtConsignmentName" placeholder="Consignment Name">
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" id="txtConsignmentWeight" placeholder="Consignment Weight">
							</div>
							<button type="button" id="btnGetVessel" class="btn btn-primary btn-sm pull-right">Get Vessel</button>
						</form>
						<div class="clearfix"></div>
						<pre id="vesselStatus"></pre>
					</div>
				</div>
			</div>
		</div>

	<script>
		$(document).ready(function () {
			$("#btnGetConsignment").click(function () {
				var consignmentId = $("#txtConsignmentId").val();
				$.ajax({
					url: '/getConsignment',
					contentType: "application/json",
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify({
						consignment_id : consignmentId
					}),
					success: function (data) {
                        $("#consignmentResponse").html(JSON.stringify(data, undefined, 2) + '<br>');
					}
				});
			});
			$("#btnGetVessel").click(function () {
				var consignmentId = $("#txtConsignmentVesselId").val();
				var consignmentName = $("#txtConsignmentName").val();
				var consignmentWeight = $("#txtConsignmentWeight").val();
				$.ajax({
					url: '/getVessel',
					contentType: "application/json",
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify({
						id : consignmentId,
						name : consignmentName,
						weight : consignmentWeight
					}),
					success: function (data) {
                        $("#vesselStatus").html(JSON.stringify(data, undefined, 2) + '<br>');
					}
				});
			});
		});
	</script>
</body>

</html>